.autocomplete {
  display: block;
  position: relative;
  width: 280px;
}

.autocomplete .icon {
  bottom: 0;
  color: #a0a0a0;
  cursor: pointer;
  height: 32px;
  right: 0;
  line-height: 28px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 27px;
  z-index: 103;
  font-size: 16px;
}

.input {
  width: 100%;
  background: #fff;
  border: none;
  border-radius: 1px;
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.15), inset 0 1px 0 0 rgba(0, 0, 0, 0.05);
  box-sizing: content-box;
  font-size: 14px;
  height: 32px;
  line-height: 20px;
  padding: 0 0 0 8px;
  position: relative;
  z-index: 102;
  color: #404040;
  transition: color .3s;

}

.input[placeholder] {
  color: #404040;
}

.input:hover {
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.25), inset 0 1px 0 0 rgba(0, 0, 0, 0.05);
}



.input-novalid {
  border: 2px solid #e3071c;
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05);
  height: 32px;
  margin: -2px !important;
}

.input:focus::-webkit-input-placeholder { color:#dfdfdf; }
.input:focus:-moz-placeholder { color:#dfdfdf; }
.input:focus::-moz-placeholder { color:#dfdfdf; }
.input:focus:-ms-input-placeholder{ color:#dfdfdf; }
.input:focus{
  border: 2px solid #5199db;
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05);
  height: 32px;
  margin: -2px !important;
  color: #404040;
  transition: color .3s;
}
.select {
  position: absolute;
  max-height: 450px;

  z-index: 101;
  margin-top: 3px;
  font-size: 14px;
  background: #FFFFFF;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
  color: #404040;
  animation: slideDown 0.1s;
  padding: 0;
  width: 340px;

}

.select__item {
  font-size: 14px;
  cursor: pointer;


}

.select__item .selected {
  background: #E9E9E9;

}

.select__item:hover, .select__item:first-child {
  color: #fff;
  background: #5199DB;
}

.select__max, .select__item {
  max-width: 450px;
  min-width: 200px;
  list-style-type: none;
  padding: 5px 10px;
  line-height: 20px;
  -webkit-user-select: none;
}

.select__max {
  font-size: 12px;
  color: #A0A0A0;
}

@keyframes slideDown {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.maxItems {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #a0a0a0;
}

.alert {
  color: #e3071c;
  font-size: 14px;
  line-height: 20px;
}
