<div class="autocomplete">
  <input class="input"
         (blur)="hideDropdownList()"
         (keyup)="filter()"
         (focus)="showDropdownList()"
         [(ngModel)]="keyword"
         placeholder="Начните вводить название"
         [ngClass]="{'input-novalid': !valid}">
  <!--<span class="konturIconic konturIconic-arrow-triangle-down icon"></span>-->
  <div *ngIf="dropdownVisible">
    <ul class="select">
      <li class="select__item" *ngFor="let i = index,let item of arr(visibleItems).fill(i)"
          (mousedown)="select(filteredList[i])">

        {{filteredList[i].City}}
      </li>
      <li class="select__max" *ngIf="filteredList.length>maxItems">
        Показанно {{maxItems}} из {{filteredList.length}} городов. Уточните запрос, чтобы увидеть остальные
      </li>
      <li class="select__max" *ngIf="(filteredList.length==0 && keyword.length>0)">
        Не найдено
      </li>
    </ul>

  </div>
  <span *ngIf="!valid" class="alert">Выберите значение из списка</span>

</div>


