@font-face {
  font-family: "SegoeUIRegular";
  src: url("../assets/font/SegoeUIRegular/SegoeUIRegular.eot");
  src: url("../assets/font/SegoeUIRegular/SegoeUIRegular.eot?#iefix") format("embedded-opentype"),
  url("../assets/font/SegoeUIRegular/SegoeUIRegular.woff") format("woff"),
  url("../assets/font/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  font-family: 'SegoeUIRegular'

}
