@font-face {
  font-family: 'konturIconic';
  src: url('https://evrika.kontur.ru/WebForms/Static/C-Common/fonts/kontur-iconic-eco-webfont.eot?')  format('eot'),
  url('https://evrika.kontur.ru/WebForms/Static/C-Common/fonts/kontur-iconic-eco-webfont.woff') format('woff'),
  url('https://evrika.kontur.ru/WebForms/Static/C-Common/fonts/kontur-iconic-eco-webfont.ttf') format('truetype'),
  url('https://evrika.kontur.ru/WebForms/Static/C-Common/fonts/kontur-iconic-eco-webfont.svg') format('svg');
  font-style: normal;
}

.konturIconic {
  font-family: 'konturIconic' !important;
  font-size: 14px;
  font-weight: normal !important;
  -webkit-font-smoothing: antialiased;
}
.konturIconic-arrow-triangle-down:before, .icon_E04C:before { content: "\e04c"; }
